/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #FFF;
  padding: 92px 50px;

}

.header__menu {
  display: flex;
  column-gap: 35px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  display: block;
 
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {

  justify-self: end;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  /* 135% */
  width: 240px;

}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115pх;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 2;
}

.aligned-text_center {
  line-height: 100px;
  text-align: center;
}

.aligned-text_right {
  line-height: 100px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  margin-top: 133px;
  align-items: center;
  z-index: 2;
}

.cover__description-text {
  word-spacing: 18px;
  text-align: center;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 127.273% */
  text-transform: uppercase;
  margin-right: 78px;
}

.bet-button {
  width: 257px;
  min-height: 52px;
  color: #FFF;
  border: 1px solid currentColor;
  background-color: transparent;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  white-space: nowrap;
}


.lots {
  display: block;
  padding: 180px 50px;
  background-color: #FFF;
}

.lots__heading {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  width: 430px;
  height: 450px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex; 
  flex-direction:column;
  justify-content: space-between;
  height: 100%;
  background-size: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
  }

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
   }

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
 }

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  }

.card__title {
  position: relative;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.card__text {
  position: relative;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
  padding-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
  }

.lots__look-more-link {
  display: block;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-left: 40px;
}


.about {
  padding-top: 2px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 180px;
  display: grid;
  grid-template-columns: 430px auto;
  grid-template-rows: auto;
}

.about__logo {
  position: relative;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  position: absolute;
  width: 148px;
  height: 114px;
}

.about__title {
  margin-bottom: 100px;
  margin-top: 100px;
  padding-left: 25px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 25px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  background-color: #FFF;
  padding-bottom: 90px;
  padding-left: 50px;
  padding-right: 50px;
}

.address_left {
  justify-self: start;
}

.footer__menu {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-list {
  list-style-type: none;
  justify-self: center;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: #000 solid 1px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 45px;
 }

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}